{% extends 'base.html' %}
{% set active_page = "market" %}
{% block title %}
Market Page
{% endblock %}
{% block content %}
   <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-dark" style="color:white">
    <h2>Saved items</h2>
    <br>
      {% if items|length > 0 %}
      <table class="table table-hover table-dark">
         <thead>
            <tr>
               <th scope="col">Name</th>
               <th scope="col">Price</th>
               <th scope="col">Store</th>
            </tr>
         </thead>
         <tbody>
            <!-- Your rows inside the table HERE: -->
            {% for item in items %}
            <tr>
               <td>{{ item.description }}</td>
               <td>{{ item.price }}€</td>
               <td><a href="https://www.mimovrste.com/" target="_blank">mimovrste.com</a></td>
            </tr>
            {% endfor %}
         </tbody>
      </table>
      {% else %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
         <strong>Holy guacamole!</strong>
         <br>No results!
         <br>Return back <a href="{{ url_for('home_page') }}" class="alert-link">home</a>?
         <button type="button" class="close" data-dismiss="alert" aria-label="Close">
         <span aria-hidden="true">&times;</span>
         </button>
      </div>
      {% endif %}
   </div>
{% endblock %}