{% extends 'base.html' %}
{% set active_page = "register" %}
{% block title %}
    Register
{% endblock %}

{% block content %}
    <body class="text-center">
        <div class="container pt-5">
            <form method="POST" class="form-register" style="color:white">
                {{ form.hidden_tag() }}
                <h1>
                    Create account
                </h1>
                <br>
                {{ form.username.label() }}
                {{ form.username(class="form-control", placeholder="User Name") }}
                <br>
                {{ form.email_address.label() }}
                {{ form.email_address(class="form-control", placeholder="Email address") }}
                <br>
                {{ form.password1.label() }}
                {{ form.password1(class="form-control", placeholder="Password") }}
                <br>
                {{ form.password2.label() }}
                {{ form.password2(class="form-control", placeholder="Confirm password") }}
                <br>
                <div class="checkbox mb-3">
                    <h6>Already have an account?</h6>
                    <a class="btn btn-sm btn-secondary" href="{{ url_for('login_page') }}">Log in</a>
                 </div>
                {{ form.submit(class="btn btn-lg btn-primary") }}
            </form>
        </div>
    </body>
{% endblock %}